@model DoctorForums.DAO.user

@{ 
    var sessionUser = Session["User"] as DoctorForums.DAO.user;
}

<div class="user-profile">
    <div class="uk-block uk-block-muted">
        <div class="uk-container">
            <img src="http://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar" alt="avatar" class="uk-border-rounded">
            <h2>@Model.full_name</h2>

            @if (sessionUser != null && sessionUser.id == Model.id)
            {
                <div>
                    Your account is
                    <span class="uk-badge">
                    @if (Model.is_private == true)
                    {
                        <text>private</text>

                    }
                    else
                    {
                        <text>public</text>
                    }

                    </span>.

                    <form action="@Url.Action("TogglePrivacy", "User")" method="POST">
                        <input type="hidden" name="isPrivate" value="@Json.Encode(Model.is_private != true)">
                        <button type="submit" class="uk-button">
                            Make @(Model.is_private == true ? "public" : "private")
                        </button>
                    </form>
                </div>
            }
        </div>
    </div>

    Posts by this user:

    <ul class="uk-list uk-list-space">
        @foreach (var msg in Model.message_tables)
        {
            <li>
                <article class="uk-comment">
                    <header class="uk-comment-header">
                        <img class="uk-comment-avatar" src="http://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar" alt="avatar">
                        <h4 class="uk-comment-title">
                            <a href="@Url.Action("Details", "Topic", new { id = msg.thread_id })#reply-@msg.id"
                               class="uk-link-muted">
                                @msg.message_thread.title
                            </a>
                        </h4>
                        <div class="uk-comment-meta">...</div>
                    </header>
                    <div class="uk-comment-body">@msg.content</div>
                </article>
            </li>
        }
    </ul>
</div>
