@{
    var _user = Session["User"] as DoctorForums.DAO.user;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @if (IsSectionDefined("meta"))
    {
        @RenderSection("meta")
    }
    else
    {
        <title>Doctor Forums</title>
    }
    <link rel="icon"
          type="image/png"
          href="/Content/favicon.png">
    <link href="/Content/uikit.gradient.css" rel="stylesheet" />
    <link href="/Content/components/form-password.gradient.min.css" rel="stylesheet" />
    <link href="/Content/components/accordion.gradient.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/vendor/uikit/css/uikit.gradient.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>
    <nav class="uk-navbar uk-navbar-attached">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">
                <i class="uk-icon-plus uk-text-danger uk-margin-small-right"></i>Doctor Forums
            </a>

            <div class="uk-navbar-content uk-text-muted uk-text-small">
                {{g.login_count}} / {{g.total_users}} doctors online
            </div>

            @if (_user != null)
            {
                <div class="uk-button-dropdown uk-navbar-content" data-uk-dropdown="{mode:'click'}">
                    @{
                        var unreadNotis = _user.notifications.Where(n => n.is_read == null || n.is_read == false);
                    }

                    <a class="uk-badge uk-badge-notification"><i class="uk-icon-flag"></i> @unreadNotis.Count()</a>
                    <div class="uk-dropdown">
                        <ul class="uk-nav uk-nav-dropdown">
                            @foreach (var noti in unreadNotis)
                            {
                                <li><a href="@Url.Action("ViewNotification", "User", new { id = noti.id })">@noti.content</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="uk-navbar-content uk-navbar-flip">
                        <a href="@Url.Action("Details", "User", new { id = _user.id })"
                           class="uk-margin-small-right uk-link-muted">                            
                            @Html.GravatarImage(_user.email, 25)                     
                            @_user.full_name
                        </a>
                        <form action="@Url.Action("Logout", "User", new { next = Request.Url.AbsoluteUri })"
                              method="POST"
                              class="uk-form uk-margin-remove uk-display-inline-block">
                            <button class="uk-button uk-button-danger">Logout</button>
                        </form>
                </div>
            }
            else
            {
                <div class="uk-navbar-content uk-navbar-flip">
                    <form action="@Url.Action("Login", "User", new { next = Request.Url.AbsoluteUri })" method="POST" class="uk-form uk-margin-remove uk-display-inline-block">
                        <input name="UserName" type="email" placeholder="your@email.com" required>
                        <div class="uk-form-password">
                            <input name="Password" type="password" placeholder="P@ssw0rd" required>
                            <a class="uk-form-password-toggle" data-uk-form-password>Show</a>
                        </div>
                        <button type="submit" class="uk-button uk-button-primary">Login</button>
                    </form>
                    Or
                    @Html.ActionLink("Register", "Register", "User")
                </div>
            }

        </div>
    </nav>

    <div class="site-container uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="site-nav uk-width-large-1-5 uk-width-small-1-1">
                <nav class="uk-panel uk-panel-header">
                    <h3 class="uk-panel-title">Navigation</h3>

                    <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav>
                        <li class="{% if g.nav.in_forums_section %}uk-active{% endif %}">
                            <a href="@Url.Action("Index", "Rooms")"><i class="uk-icon-comments-o"></i> Forums</a>
                        </li>

                        <li class="{% if g.nav.in_user_search_section %}uk-active{% endif %}">
                            <a href="@Url.Action("Search", "User")"><i class="uk-icon-search"></i> Find Doctors</a>
                        </li>

                        @if (Session["User"] != null)
                        {
                            <li class="uk-nav-divider"></li>
                            <li class="{% if g.nav.in_personal_profile %}uk-active{% endif %}">
                                <a href="@Url.Action("Details", "User", new { id = _user.id })">
                                    <i class="uk-icon-user"></i> Personal Profile
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>

            <div class="content uk-width-large-4-5">
                @if (ViewBag.Message != null)
                {
                    <div class="uk-alert" data-uk-alert>
                        <a href="" class="uk-alert-close uk-close"></a>
                        <p>@ViewBag.Message</p>
                    </div>
                }
                @RenderBody()
            </div>
        </div>

    </div>

    <footer class="uk-block uk-block-secondary uk-contrast">
        <div class="uk-container uk-container-center">
            FIXME: This is a nice looking footer waiting to be implemented.
        </div>
    </footer>

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/uikit.js"></script>
    <script src="/Scripts/components/form-password.js"></script>
    <script src="/Scripts/components/accordion.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
